<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>404 - Strona nie została znaleziona</h1>
  <a href="/">Powrót na stronę główną</a>
</body>
</html>
