<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Wystąpił błąd serwera</h1>
  <p><%= error.message %></p> 
  <a href="/">Powrót na stronę główną</a>
</body>
</html>